{% extends 'base.html' %}
{% block scripts %}
{% endblock %}
<!--==============================content================================-->
 <div class="container">
     
{% block content %}

<div class="">
	<h1> NOTES </h1>
	<h2>now here is {{ amount }} notes, add some thoughts!</h2>
	<ul class="list view">
		{% for note in notes %}
			<li> <h2>{{ note.title }}</h2> <p>{{ note.body }}</p> <span>{{ note.created_at }}</span> </li>
		
		{% endfor %}
	</ul>
</div>
 
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  

-->

 {% endblock %}   
</div>

